.footer {
    background-color: #000000;
    color: white;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
  }
  
  .footer-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo img {
    width: 230px;
    height: auto;
  }
  
  .footer-contact {
    text-align: left;
    flex: 0;
    min-width: 220px;
  }
  .footer-contact p {
    content: "";
  }
  .footer-contact h3 {
    font-size: 29px;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    
  }
  
  .footer-contact a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .footer {
      padding: 2rem 1rem;
      justify-content: center;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
      margin-bottom: 0;
    }
    
    .footer-logo img {
      width: auto;
      max-width: 200px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: static;
      z-index: 1;
    }
    
    
  
    .footer-contact {
      width: 100%;
      margin-top: 0;
      text-align: center;
      z-index: 2;
      position: relative;
    }
  
    .footer-contact h3,
    .footer-contact a,
    .footer-contact p {
      margin-top: 0;

      text-align: center;
    }
  }
  
  
  